@{
    ViewData["Title"] = "Files Management";
}

<div class="text-center">
    <h1 class="display-4">Files managing</h1>
    <p>Here you can upload, download and manage all the files uploaded through the TinyStorage network.</p>
</div>
